*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
   line-height: 10vh;
   background-color: aqua;
}
.container{
    display: flex;
    /* position: relative; */
}
.user1{
    background-color: brown;
    width: 50vw;
    height: 90vh;
    position: relative;
}
.user2{
    background-color: rgb(42, 165, 69);
    width: 50vw;
    height: 90vh;
    position: relative;
}
/* .user1 img{
    margin-top: 62vh;
} */
.cardpack1{
    position: absolute ;
    margin-left: 5vw;
    margin-top: 63vh;
    /* z-index: 10; */
}
.cardpack2{
    position: absolute ;
    margin-left: 3vw;
    margin-top: 61vh;
    /* z-index: 10; */
}
.cardpack3{
    position: absolute ;
    margin-left: 1vw;
    margin-top: 59vh;
    /* z-index: 10; */
}
/* .user2 img{
    margin-top: 62vh;
} */
.scorecard1{
    position: absolute ;
    height: 150px;
    width: 150px;
    background-color: rgb(227, 247, 11);
    border-radius: 15%;
    margin-top: 60vh;
    margin-left: 40vw;
}
.scorecard2{
    height: 150px;
    width: 150px;
    background-color: rgb(227, 247, 11);
    border-radius: 15%;
    margin-top: 60vh;
    margin-left: 3vw;
}
.playcard1{
    position: absolute ;
    margin-left: 5vw;
    margin-top: 63vh;
    /* z-index: 2; */
}
.playcard2{
    position: absolute ;
    margin-left: 3vw;
    margin-top: 61vh;
    /* z-index: 2; */
}
.playcard3{
    position: absolute ;
    margin-left: 1vw;
    margin-top: 59vh;
    /* z-index: 2; */
}